log/
test.py
__pycache__/
*.pyc
.env
.vscode/launch.json
*.asc
*.txt
*.so
.idea/
inspiron/
config*.ini
inter_sdk/config/tosun_debug.log
testcase/Debug/P_GeneralFlash/common_upgrade_flash/vbf/**
.venv
venv
.myenv
myenv
.vscode
.claude/settings.local.json
.claude/settings.json
docs/.cache/
Downloads/